body {
    margin: 0;
    padding-top: 70px;
    font-family: sans-serif;
    background-color: #c9daf8ff;
    font-family: Raleway;
}

h3 {
    margin-top: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.684);
}

.buscador-container, .categoria-container, .recomendaciones-container{
    padding: 10px 20px;
    margin: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.buscador-container, .recomendaciones-container{
    background-color: rgba(218, 229, 247, 0.477);   
}

.categoria-container{
    background-color: rgba(223, 222, 222, 0.833);
}

.card-container{
    
}