.form {
  width: 100%; 
}

.custom-width {
    width: 600px;
}

.busqueda-custom {
  z-index: 1000;
  margin-top: 4rem;
}

.btn-outline-success.button-search{
  background-color: #87ca73; /* Madera */
  color: #ffffff; /* Texto claro */
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-outline-success.button-search:hover {
  background-color: #55a03c;
  cursor: pointer; 
  color: #ffffff;
  border: none;
}