body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #d9ead3;     
    font-family: Raleway;
}

.form-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.return-btn-container {
    width: 60%;
    margin: 0 auto; 
}

.button-return-custom {
  background-color: rgb(135, 202, 115); /* Madera */
  color: #ffffff; /* Texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 0 0 20px 45px;
}

.button-save-custom {
  background-color: #87ca73; /* Madera */
  color: #ffffff; /* Texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px 24%;
}

.button-return-custom:hover, .button-save-custom:hover {
  background-color: rgb(85, 160, 60);
  cursor: pointer; 
  color: #ffffff;
}

.section-title {
    margin: 20px 0px 10px 5px;
}

.form {
  width: 60%;
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  background-color: white; 
  border-radius: 8px; 
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-40 {
  width: 40%;
}