body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: #d9ead3;
  font-family: Raleway;
}

.section-title {
  margin: 20px 0px 10px 5px;
}

.save-btn-container {
  display: flex;
  justify-content: flex-center;
  margin-bottom: 10px;
}

.button-save-custom {
  background-color: rgb(107, 200, 79);
  color: #ffffff;
  /* Texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px 24%;
}

.button-save-custom:hover {
  background-color: rgb(85, 160, 60);
  /* un verde más oscuro para el hover */
  cursor: pointer;
  /* cambia el cursor al pasar por encima */
  color: #ffffff;
  /* Texto claro */
}

.form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

.feature-checkbox {
  display: block;
  margin-bottom: 5px;
  margin-left: 25px;
}