body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: rgba(218, 229, 247, 0.477) !important;     
    font-family: Raleway;
}

.form-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.section-title {
    margin: 20px 0px 10px 5px;
}

.form {
  width: 60%;
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  background-color: white; 
  border-radius: 8px; 
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-40 {
  width: 40%;
}