body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #d9ead3;     
    font-family: Raleway;
}

.section-title {
    margin: 20px 0px 10px 5px;
}

.save-btn-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.button-save-custom {
  background-color: rgb(107, 200, 79); /* Madera */
  color: #ffffff; /* Texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px 24%;
}

.form {
  width: 60%;
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  background-color: white; 
  border-radius: 8px; 
}

