body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #d9ead3;     
    font-family: Raleway;
}

.button-new-custom {
  background-color: rgb(135, 202, 115); /* Madera */
  color: #ffffff; /* Texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 0 45px 20px 45px;
}

.button-new-custom:hover {
  background-color: #4c6731; /* Vegetación / contraste */
}

.container-table {
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background-color: white;
    border-radius: 8px;
    margin-bottom: 100px;
}

.fila {
    height: 70px;
}

.fila > th,
.fila > td {
    vertical-align: middle;
}

.icon {
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.edit-icon {
    color: #007bff;
}

.delete-icon {
    color: #dc3545;
}
