@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #d9ead3 !important;
    color: #2e2e2e;
}

.title-container {
  max-width: 600px;
  margin: 1.5rem auto 2.5rem auto;
  text-align: center;
  margin-top: 5rem;
}

.title-custom {
  display: inline-block;
  font-weight: 600;
  color: #385230;
  font-size: clamp(1rem, 4vw, 2.8rem);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.title-underline {
  border-bottom: 3px solid #87ca73;
  padding-bottom: 0.5rem;
}

.subtitle-container {
  max-width: 600px;
  margin-left: 2rem;
  display: flex;
  justify-content: left;
}

.subtitle-custom {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.68);
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.subtitle-underline {
  border-bottom: 2px solid #87ca73;
  padding-bottom: 0.3rem;
  display: inline-block;
}

.button-verde {
    background-color: #87ca73;
    color: #ffffff;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 1.5rem auto;
    display: block;
    max-width: 200px;
    text-align: center;
}

.button-verde:hover {
    background-color: rgb(85, 160, 60);
    cursor: pointer;
    color: #ffffff;
}

.container-oscuro {
    padding: clamp(0.5rem, 2vw, 1.5rem);
    margin: clamp(1rem, 3vw, 2rem) auto;
    max-width: 100%;
    width: min(95%, 1200px);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.224);
    border-radius: 0.75rem;
    background-color: #fff;
    background-color: rgb(185, 201, 180);
}